.navigation {
    width: 350px;
    min-width: 350px;
    border-right: 1px solid $light;
    background-color: #fff;
    &__wrap {
        position: sticky;
        top: 0;
        left: 0;
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);
    }
    &__logo {
        display: block;
        width: 160px;
        padding-top: 50px;
        margin: 0 auto 47px;
        img {
            @extend %img;
        }
    }
    &-menu {
        font-family: Cambria, sans-serif;
        line-height: 1.166666;
        margin: 0 24px 30px;
        li {
            position: relative;
        }
        > li {
            > a {
                display: block;
                font-size: 20px;
                padding: 10px 30px 10px 21px;
                border-bottom: 1px solid rgba(101, 71, 60, 0.5);
            }
            ul {
                display: none;
                font-size: 18px;
            }
            > ul {
                > li {
                    border-bottom: 1px solid rgba(101, 71, 60, 0.5);
                    > a {
                        display: block;
                        padding: 10px 30px 10px 34px;
                    }
                    ul {
                        color: $light;
                        padding: 5px 0 15px 68px;
                        li {
                            + li {
                                margin-top: 9px;
                            }
                        }
                        a {
                            .no-touch &:hover {
                                color: $brown;
                            }
                        }
                    }
                }
                .header-menu-nav__btn {
                    top: 7px;
                }
            }
            a {
                .no-touch &:hover {
                    color: $light;
                }
            }
        }
        &__btn {
            position: absolute;
            width: 26px;
            height: 26px;
            top: 10px;
            right: 0;
            font-size: 0;
            text-align: center;
            padding-top: 10px;
            transform-origin: center;
            cursor: pointer;
            @extend %tr;
            &:after {
                content: '';
                display: inline-block;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 4px 0 4px 6px;
                border-color: transparent transparent transparent $brown;
            }
            &.active {
                transform: rotate(90deg);
            }
        }
    }
    &__phone {
        @extend %flex-sc;
        font-weight: 600;
        font-size: 18px;
        padding-left: 21px;
        margin-left: 24px;
        margin-bottom: 80px;
        svg {
            margin-right: 20px;
        }
    }
    &-social {
        margin: 0 24px 80px;
        &__name {
            font-size: 24px;
            margin-bottom: 15px;
        }
        li {
            + li {
                margin-top: 80px;
            }
        }
    }
    &-apply {
        text-align: center;
        padding-bottom: 50px;
        &__info {
            color: $light;
            margin-top: 10px;
        }
    }
}
@media all and (max-width: 1365px) {
    .navigation {
        display: none;
    }
}
@media all and (min-width: 1600px) {
    .navigation {
        width: 405px;
        min-width: 405px;
        &-social, &-apply {
            padding-left: 28px;
        }
    }
}