.arrow-button {
  width: 23px;
  height: 14px;
}

.arrow-left {
  width: 17px;
  height: 14px;
}

.arrow-link {
  width: 17px;
  height: 11px;
}

.arrow-list {
  width: 19px;
  height: 12px;
}

.arrow-news-next {
  width: 12px;
  height: 16px;
}

.arrow-news-prev {
  width: 12px;
  height: 16px;
}

.arrow-next {
  width: 9px;
  height: 18px;
}

.arrow-prev {
  width: 10px;
  height: 18px;
}

.arrow-right {
  width: 17px;
  height: 14px;
}

.calendar {
  width: 21px;
  height: 21px;
}

.call {
  width: 21px;
  height: 21px;
}

.check {
  width: 14px;
  height: 12px;
}

.close {
  width: 28px;
  height: 28px;
}

.count-1 {
  width: 143px;
  height: 148px;
}

.count-2 {
  width: 123px;
  height: 118px;
}

.doc-common {
  width: 14px;
  height: 20px;
}

.doc-pdf {
  width: 14px;
  height: 19px;
}

.download {
  width: 17px;
  height: 17px;
}

.email {
  width: 21px;
  height: 15px;
}

.fb {
  width: 17px;
  height: 29px;
}

.glasses {
  width: 27px;
  height: 11px;
}

.in {
  width: 28px;
  height: 28px;
}

.link-1 {
  width: 63px;
  height: 63px;
}

.link-2 {
  width: 86px;
  height: 63px;
}

.loupe {
  width: 22px;
  height: 22px;
}

.magent {
  width: 22px;
  height: 23px;
}

.personal {
  width: 18px;
  height: 21px;
}

.phone {
  width: 21px;
  height: 21px;
}

.play {
  width: 40px;
  height: 40px;
}

.policy-1 {
  width: 70px;
  height: 70px;
}

.policy-2 {
  width: 79px;
  height: 62px;
}

.policy-3 {
  width: 66px;
  height: 66px;
}

.quotes {
  width: 19px;
  height: 17px;
}

.settings {
  width: 21px;
  height: 21px;
}

.share {
  width: 16px;
  height: 16px;
}

.tg {
  width: 19px;
  height: 16px;
}

.time {
  width: 21px;
  height: 21px;
}

.vk {
  width: 43px;
  height: 25px;
}

.yt {
  width: 39px;
  height: 28px;
}

